{% extends "aldryn_newsblog/base.html" %}
{% load i18n %}

{% block newsblog_content %}
<section class="c-blog">
  <h1>Blog</h1>

  <div class="c-blog__list">
    {% for article in article_list %}
        {% include "aldryn_newsblog/includes/article.html" %}
    {% empty %}
        <p>{% trans "No items available" %}</p>
    {% endfor %}
  </div>


  <footer class="c-blog__footer">
    {% include "aldryn_newsblog/includes/pagination.html" %}
  </footer>
</section>

{% endblock %}
