{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags apphooks_config_tags sekizai_tags %}

{% block title %}
    {{ article.title }} - {{ block.super }}
{% endblock %}

{% block newsblog_content %}
<div class="c-blog">
    {% include "aldryn_newsblog/includes/article_single.html" with detail_view="true" %}

    {% static_placeholder "newsblog_social" %}

    <footer class="c-blog__pag">
        {% if prev_article %}
            <a href="{{ prev_article.get_absolute_url }}">{% trans "Previous Article" %}</a>
        {% endif %}
        <a href="{% namespace_url "article-list" %}">{% trans "Back to Overview" %}</a>
        {% if next_article %}
            <a href="{{ next_article.get_absolute_url }}">{% trans "Next Article" %}</a>
        {% endif %}
    </footer>
</div>

{% addtoblock "js" %}
<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"BlogPosting",
    "headline":"{{ article.title }}",
    "description":"{{ article.lead_in|striptags }}",
    "author" : "{{ article.author }}",
    "publisher": {
          "@type": "Organization",
          "name": "Synoptic",
          "logo": {
             "@type": "ImageObject",
             "url": "https://p7.hiclipart.com/preview/146/778/473/photography-photographer-computer-icons-clip-art-photography-free-icon.jpg",
             "width": 600,
             "height": 60
           }
        },
    "datePublished": "{{ article.publishing_date|date:'d-m-Y' }}",
    "dateModified": "{{ article.publishing_date|date:'d-m-Y' }}",
    "image": "{{ request.get_host }}/en{{ article.featured_image.url }}",
    "mainEntityOfPage": "{{ request.get_host }}{{ request.path }}"
  }
</script>
{% endaddtoblock %}

{% endblock %}
