<header class="jumbotron">
  <div class="container">
    <h1 class="display-4">Duis iaculis libero</h1>
    <p class="lead">Integer sit amet urna fringilla, cursus nulla vitae, euismod enim. Quisque vel vehicula mauris. Fusce consectetur justo non tempor malesuada.</p>
    <hr class="my-4">
    <p>Pellentesque id magna ipsum. Pellentesque ut quam molestie, maximus justo a, varius velit. Nunc interdum mauris quis mattis commodo.</p>
    <a class="o-button" href="/catalogue" role="button">Learn more</a>
  </div>
</header>
