<section class="c-benefits">
  <div class="c-benefits__row">
    <div class="c-benefits__item">
      <h3>Lorem</h3>
      <p>Dragée danish bonbon jelly-o. Cake chocolate bar chocolate jelly-o. Marzipan lemon drops marzipan pastry dragée pastry tootsie roll topping.</p>
    </div>

    <div class="c-benefits__item">
      <h3>Lorem</h3>
      <p>Dragée danish bonbon jelly-o. Cake chocolate bar chocolate jelly-o. Marzipan lemon drops marzipan pastry dragée pastry tootsie roll topping.</p>
    </div>

    <div class="c-benefits__item">
      <h3>Lorem</h3>
      <p>Dragée danish bonbon jelly-o. Cake chocolate bar chocolate jelly-o. Marzipan lemon drops marzipan pastry dragée pastry tootsie roll topping.</p>
    </div>
  </div>
</section>
