{% load cms_tags %}


<section class="c-card">
  <div class="c-card__inner">
    <div class="c-card__front">
      <div class="c-card__img">
        <img src="{{instance.image.url}}" alt=""/>
      </div>
      <div class="c-card__text">
        {{ instance.text }}
      </div>
    </div>
    <div class="c-card__back no-js"></div>
  </div>
</section>
