{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

{% comment %}
  {% if article.is_featured %} featured{% endif %}
  {% if not article.published %} unpublished{% endif %}
{% endcomment %}
<article class="c-blog__detail">

    {# The image is only shown on the detail view by using the condition "and detail_view" #}
    {% if article.featured_image_id %}
        <p>
            <img src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
        </p>
    {% endif %}

    <h2>
        {% if not detail_view %}
            <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a>
        {% else %}
            {% render_model article "title" %}
        {% endif %}
    </h2>

    <p>{{ article.publishing_date|date }}</p>

    {% include "aldryn_newsblog/includes/author.html" with author=article.author %}

    {% if detail_view %}
        {% render_placeholder article.content language placeholder_language %}
    {% endif %}

    {% if article.categories.exists %}
        <p>Categories:
            {% for category in article.categories.all %}
                <a href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}

    {% if article.tags.exists %}
        <p>Tags:
            {% for tag in article.tags.all %}
                <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">{{ tag.name }}</a>
            {% endfor %}
        </p>
    {% endif %}

</article>
