body {
  background-color: $black;
  color: $white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  overflow: hidden;
}

header.jumbotron {
  background-color: $dark-95;
}

.navbar {
  /* safari fix */
  flex-shrink: 0;
  &-light {
    background-color: $primary;
    & .navbar-nav .nav-link {
      color: $black;
      &.active {
        text-decoration: underline;
      }
    }
  }
}




.c-footer {
  text-align: center;
  &>hr {
    width: 90%;
    margin: 0 auto 16px;
    height: 10px;
  	border: 0;
  	box-shadow: 0 10px 10px -10px #8c8b8b inset;
  }
}

button, .o-button {
  display: inline-block;
  background-color: $primary;
  border-color: $primary;
  border-radius: 0 8px 0 8px;
  color: $black;
  padding: 10px 20px;
  transition: all .3s ease-in-out;
  text-decoration: none;
  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: none;
    color: $white;
    background-color: $primary-100;
    border-color: $primary-100;

  }
}

#scrollTop {
  width: 42px;
  height: 42px;
  background-color: $black;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 10px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  transition: all .3s ease-in-out;
  & > svg {
    transition: fill .3s ease-in-out;
    width: 42px;
    height: 42px;
    position: relative;
    right: 11px;
    bottom: 2px;
    & path {
      fill: $primary;
    }
  }
  &:hover, &:focus {
    border-color: $primary-100;
    & > svg path {
      fill: $primary-100;
    }
  }
}


.c-contact {
  padding-top: 40px;
  padding-bottom: 40px;
  @include make-container();
  @include make-container-max-widths();
  text-align: center;
  & form {
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
  }
  &__success {
    @include make-container();
    @include make-container-max-widths();
    padding-top: 50px;
    text-align: center;
  }
}
