{% load staticfiles i18n cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% page_attribute page_title %} - {{ request.site.name }}{% endblock title %}</title>
  <meta name="description" content="{% page_attribute 'meta_description' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="{% static 'site.webmanifest' %}">
  <link rel="apple-touch-icon" href="{% static 'icon.png' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="{% static 'css/output.min.css' %}">

  {% render_block "css" %}
  {{ ALDRYN_SNAKE.render_head }}

  <noscript><style>
       .no-js {display: none;}
       .show-no-js {display: block;}
    </style></noscript>

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  {% cms_toolbar %}
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

<nav class="navbar navbar-light navbar-expand-md">
  <a class="navbar-brand" href="/">Synoptic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% show_menu 0 100 100 100 "menu/custom-menu.html" %}
    </ul>
  </div>
</nav>

<main>
  {% block content %}

  {% endblock %}
</main>



  <footer class="c-footer">
    <hr>
    {% static_placeholder "global_footer" %}
  </footer>

  <script src="{% static 'js/output.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>

  {% render_block "js" %}
  {{ ALDRYN_SNAKE.render_tail }}
</body>

</html>
