{% extends "base.html" %}
{% load static cms_tags menu_tags thumbnail %}


{% block content %}

<section class="c-contact">
  <h1>Contact</h1>
  <form id="#contactForm" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="c-contact__actions">
        <button type="submit">Send</button>
      </div>
  </form>
</section>

{% endblock content %}
