{% extends "base.html" %}
{% load cms_tags %}

{% block content %}

  <div class="c-contact__success">
      <h1>Message Sent!</h1>
      <p>Will be in touch with you shortly.</p>
  </div>

{% endblock content %}
