{% extends "base.html" %}
{% load static cms_tags menu_tags thumbnail %}


{% block content %}

  <section class="c-gallery">
      <nav>
        <a href="{% url 'gallery_index' %}">All</a>
        {% for subject in subjects %}
          <a href="{% url 'subject' subject.slug %}">{{ subject.subject_name }} </a>
        {% endfor %}
      </nav>


      <div class="c-gallery__list">
        {% for img in images %}
        {% thumbnail img.image 300x300 upscale=True crop=True as thumb %}
        <a class="c-gallery__img" href="{{ img.image.url }}" data-width="2500" data-fancybox="gallery" data-caption="{{ img.image_description }}">
          <img class="c-gallery__thumb lazy" src="{{ thumb.url }}" alt="{% for tag in img.image_subjects.all %}{{tag.slug}}{% if not forloop.last %}, {% endif %}{% endfor %}"/>
        </a>
        {% endfor %}
      </div>

  </section>

  <button id="scrollTop">
    <svg viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg">
			<path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/>
		</svg>
     <span class="sr-only">Scroll to top</span>
   </button>

{% endblock content %}
