{% load menu_tags %}

  {% for child in children %}

  <li class="nav-item"><a class='nav-link {% if child.selected %}active{% endif %}' href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}</a></li>

  {% endfor %}
