.c-card {
  @include make-container();
  @include make-container-max-widths();
  margin-top: 50px;
  margin-bottom: 30px;
  &__inner {
    position: relative;
    width: 100%;
  }
  &__front, &__back {
    background-color: $primary;
    border-radius: 0 30px 0 30px;
  }
  &__back {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  &__front {
    padding: 20px;
    color: $black;
  }
  &__img img {
    width: 100%;
    margin-bottom: 15px;
  }



  @include media-breakpoint-up(md) {
    &__front {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__img {
      width: 45%;
      order: 1;
      & img {
        margin-bottom: 0;
      }
    }
    &__text {
      width: 50%;
    }
  }
}
