.c-benefits {
  @include make-container();
  @include make-container-max-widths();
  margin-bottom: 30px;
  &__row {
    @include make-row();
  }
  &__item {
    @include make-col-ready();
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
  }


  @include media-breakpoint-up(md) {
    margin-top: 100px;
    margin-bottom: 100px;
    &__row {
      justify-content: center;
      position: relative;
      left: -4%;
    }
    &__item {
      @include make-col(5);
      @include make-col-offset(1);
    }
  }

  @include media-breakpoint-up(xl) {
    &__item {
      @include make-col(3);
    }
  }
}
