.c-blog {
  @include make-container();
  @include make-container-max-widths();
  margin-top: 30px;
  & article {
    & img {
      width: 100%;
    }
  }
  &__item {
    background-color: $white;
    color: black;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0 30px 0 30px;
    & a {
      color: $primary-100;
    }
  }
  &__detail {
    & a {
      color: $primary;
    }
  }
  &__pag {
    padding: 20px 20px;
    margin: 10px 0 30px;
    border-radius: 10px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #8c8b8b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & a {
      color: $primary;
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: 50px;
    &__list {
      display: flex;
      flex-flow: row wrap;
    }
    &__item {
      width: 48%;
      margin-right: 4%;
      &:nth-of-type(2n+0) {
        margin-right: 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &__item {
      width: 30%;
      margin-right: 5%;
      &:nth-of-type(2n+0) {
        margin-right: 5%;
      }
      &:nth-of-type(3n+0) {
        margin-right: 0;
      }
    }
  }
}
