.c-feature {
  @include make-container();
  @include make-container-max-widths();
  &__item {
    margin: 30px 0;
  }
  &__img img {
    width: 100%;
    margin-bottom: 15px;
  }

  @include media-breakpoint-up(md) {
    &__text {
      & h2 {
        margin-bottom: 20px;
      }
      & .o-button {
        margin-top: 10px;
      }
    }
  }


  @include media-breakpoint-up(lg) {
    &__item {
      margin: 100px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__img {
      flex: 1;
      margin-right: 40px;
      &--right {
        order: 1;
        margin-right: 0;
        margin-left: 40px;
      }
      & img {
        margin-bottom: 0;
      }
    }
    &__text {
      flex: 1;
    }
  }
}
