.c-gallery {
  @include make-container();
  @include make-container-max-widths();
  margin-bottom: 20px;
  & nav {
    text-align: center;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0;
    & a {
      color: $primary;
      padding: 0 5px;
    }
  }

  &__thumb {
    width: 100%;
    margin-bottom: 10px;
  }
  @include media-breakpoint-up(md) {
    &__thumb {
      width: 49%;
    }
  }

  @include media-breakpoint-up(lg) {
    &__thumb {
      width: 33%;
    }
  }

}
